body {
  background-color: #252525;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
}

header {
  grid-column: 1;
  background-color: #f2f2f2;
  min-height: 100vh;
  width: 100%;
}

section {
  grid-column: 2;
  background-color: #303030;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.container-login-form {
  background-color: #303030;
  min-width: 350px;
  width: auto;
  height: auto;
  border: 1px solid #404040;
/* border-radius: 10px;
  box-shadow:
  -6px -6px 15px #454545,
  -6px -6px 15px #454545 inset,
  6px 6px 15px #171717 inset,
  6px 6px 15px #171717;*/
}

.sign-in {
  background-color: #f2f2f2;
  padding: 20px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login-form-items {
  margin: 5px;
  padding: 2px 5px 2px 5px;
  width: auto;
  height: 30px;
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 17px;
  
}

.login-form-submit {
  height: 33px;
  width: auto;
  background-color: #0f4aa8;
  color: #f2f2f2;
  border-radius: 7px;
  border: none;
  margin: 5px;
}

.section-information {
  color: #0f4aa8;
  text-align: center;
}

.info-text {
  display: flex;
  padding: 10%;
}


